* {
    box-sizing: border-box;
  }

body {
  margin: 0;
  font-family: "Jost", Tahoma, Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-size: 1.5vw; */
  /* background-image: url("https://images.pexels.com/photos/7135066/pexels-photo-7135066.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
  /* background-image: url("https://images.pexels.com/photos/7135058/pexels-photo-7135058.jpeg"); */
  background-image: url("https://images.pexels.com/photos/7135058/pexels-photo-7135058.jpeg?auto=compress&cs=tinysrgb&w=3840&h=2160&dpr=1");
}

.lang {
    /* line-height: 120vh; */
    padding-top: 35vh;
    text-align: center;
}

.lang-background {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 1% 0%;
    margin: 0% 37%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.7vh;
}

.lang-links {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.lang img {
    width: 11vw;
    height: 10vh;
    padding: 0% 18%;
    border-radius: 27% 27% 27% 27%;
    opacity: 0.9;
    transition: opacity 0.5s;
}

.lang img:hover {
    opacity: 0.2;
}

.footer {
    margin-top: 35vh;
    text-align: center;
    
}


@media screen and (max-width: 1370px) {
    .lang-background {
        padding: 5% 2%;
        margin: 0% 12%;
    }
    
    .lang img {
        width: 15vh;
        height: 7vh;
    }
    
    .footer {
        /* margin-top: 20vh; */
        margin-top: 25vh
    }
}

@media screen and (max-width: 860px) {
   
    .lang-background {
        padding: 5% 2%;
        margin: 0% 10%;
    }
    
    .lang-links {
        padding-top: 10%
    }
    
    .lang img {
        width: 15vh;
        height: 7vh;
    }
    
    .footer {
        margin-top: 35vh
    }
  }